<h1>Dicas sobre IMC</h1>

<div class="dica">
  <h2>Dica #1: Abaixo do Peso</h2>
  <p>
    Se você está abaixo do peso, é importante focar em uma dieta rica em nutrientes e calorias para ganhar peso de forma saudável. Consultar um nutricionista pode ser essencial para um plano alimentar adequado.
  </p>
</div>

<div class="dica">
  <h2>Dica #2: Peso Normal</h2>
  <p>
    Manter um peso saudável é crucial para o bem-estar geral. Continue com uma dieta balanceada e exercícios regulares para manter seu peso ideal.
  </p>
</div>

<div class="dica">
  <h2>Dica #3: Sobrepeso</h2>
  <p>
    Para reduzir o excesso de peso, concentre-se em uma alimentação saudável e na prática regular de exercícios físicos. Pequenas mudanças no estilo de vida podem fazer uma grande diferença.
  </p>
</div>

<div class="dica">
  <h2>Dica #4: Obesidade Grau 1</h2>
  <p>
    A obesidade de grau 1 requer atenção especial. Consulte um profissional de saúde para um plano de dieta e exercícios personalizado. Mudanças no estilo de vida são fundamentais para melhorar sua saúde geral.
  </p>
</div>

<div class="dica">
  <h2>Dica #5: Obesidade Grau 2 e 3</h2>
  <p>
    A obesidade de grau 2 e 3 pode exigir intervenções mais intensas, como dietas controladas e orientação médica regular. É essencial buscar apoio profissional para alcançar um peso mais saudável.
  </p>
</div>
