<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Sobre</h5>
        <p>Este site deve ser usado apenas para fins de curiosidade, em caso de duvidas consulte um médico.</p>
      </div>
      <div class="col-md-4">
        <h5>Paginas</h5>
        <ul class="list-unstyled">
          <li><a class="footer-link" routerLink="/">Home</a></li>
          <li><a class="footer-link" routerLink="/dicas">Dicas</a></li>
          <li><a class="footer-link" routerLink="/sobre-nos">Sobre Nós</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contato</h5>
        <ul class="list-unstyled">
          <li>Email: contato&commat;fitweb.com.br</li>
          <li>Telefone: (15) 99701-1918</li>
        </ul>
        
      </div>
    </div>
  </div>
</footer>
