<div class="container">
    <button class="arrow-left control" aria-label="Previous image" (click)="prevSlide()">◀</button>
    <button class="arrow-right control" aria-label="Next Image" (click)="nextSlide()">▶</button>
    <div class="gallery-wrapper">
      <div class="gallery">
        

          <div class="c1">
            <h2 class="titulo-container">Para uma alimentação saudavel</h2>
            <p class="texto-container">Ingerir, diariamente, cinco porções de frutas, verduras e legumes.
            Metade do prato deve ser composto por verduras e legumes.</p>
          </div>
       
      
          <div class="c2">
            <h2 class="titulo-container">Exercicios regulares</h2>
            <p class="texto-container">Sabia que a pratica regular de exercicios pode ajudar a regular o seu humor, a sua disposção e muito mais.</p>
          </div>
        
        
          <div class="c3">
            <h2 class="titulo-container">Importancia do sono</h2>
            <p class="texto-container">O sono é o elemento chave para regular o seu corpo, sem ele, você não vai operar corretamente</p>
          </div>
        
        
          <div class="c4">
            <h2 class="titulo-container">Celular antes de dormir</h2>
            <p class="texto-container"> A luz azul emitida pelos celulares atrabalha o cerebro, pare de usar o celular 1 hora antes de dormir.</p>
          </div>
       
        
          <div class="c5">
            <h2 class="titulo-container">buscar ajuda</h2>
            <p class="texto-container">O processo de emagrecimento pe dificil, mas ele nçao precisa ser feito sozinho.</p>
          
        </div>
        <div class="c6">&nbsp;</div>
      </div>
    </div>
  </div>
